<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page2" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/5380.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Jigglypuff</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/5380.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br> Jigglypuff (/ ˈdʒɪɡəlipʌf / JI-gə-lee-PUF) conocido en Japón como Purin (プ リ ン), [1] es una especie de Pokémon en la franquicia Pokémon de Nintendo y Game Freak. Creado por Ken Sugimori, Jigglypuff apareció por primera vez en los videojuegos Pokémon Rojo y Azul y sus secuelas posteriores, y luego apareció en varios productos, títulos derivados y adaptaciones animadas e impresas de la franquicia. Jigglypuff es interpretado por Rachael Lillis en inglés y por Mika Kanai en japonés. En el musical de acción en vivo Pokémon Live!, Jigglypuff es interpretado por Leah Smith. Jigglypuff también es muy conocido por cantar una canción de cuna en la serie de anime Pokémon.

       Conocido como el Pokémon Globo, Jigglypuff evoluciona de Igglybuff cuando alcanza un cierto punto de felicidad, y evoluciona a Wigglytuff cuando se expone a una Piedra de la Luna. Su nombre en inglés es una combinación de las palabras "jiggly" y "puff", destinadas a relacionarse con su apariencia gelatinosa. El personaje ha aparecido en un papel recurrente en la serie de anime y sirvió como foco para varias adaptaciones impresas de la franquicia. Desde que apareció en la serie Pokémon, Jigglypuff ha recibido una recepción generalmente positiva. Se ha presentado en varias formas de mercancía, incluidas figuras, juguetes de peluche y en el Juego de cartas coleccionables Pokémon.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
