<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page5" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Mega_Man_SSBU.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Mega Man</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Mega_Man_SSBU.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Mega Man, conocido en Japón como Rockman (ロックマン Rokkuman, Trad. Hombre Rock, derivado de la frase "Rock 'n Roll"), originalmente construido bajo el nombre de Rock (ロック Rokku, también referido como Mega), apodado "El Bombardero Azul" por los fanáticos, es el protagonista de la Saga Clásica de Mega Man, referido como "Mega Man Original", de la franquicia de videojuegos Mega Man desarrollada por Capcom desde 1987. El diseño original de Mega Man fue creado por Akira Kitamura (acreditado bajo el seudónimo de "A.K.") y re-elaborado por Keiji Inafune. Siendo desde entonces, la mascota de la compañia Capcom y uno de los iconos más reconocidos de la industria de los videojuegos. Originalmente, siendo exclusivo de la consola Nintendo Entertainment System ha evolucionado cubriendo casi todas las consolas existentes hasta la actualidad.

       El principal rol de Mega Man se centra en su eterna batalla para detener al malvado científico loco, el Dr. Wily y su cada dia más creciente ejército de robots, y parar su ambición de conquistar al mundo, gracias a su voluntad y buenas intenciones.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
