<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page5" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Joker-SSBU.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Ren Amamiya (Joker)</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Joker-SSBU.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Ren Amamiya es el protagonista de Persona 5 y es un estudiante transferido en la Academia Shujin. Al comienzo del juego, tiene poco o ningún poder o influencia en el mundo y está restringido por las reglas del sistema en el que nació.

       Sin embargo, debajo de su actitud tranquila hay un delincuente juvenil conocido en todo el mundo como El Fantasma, a los residentes de la Velvet Room se le conoce como Trickster, y para sus compañeros de equipo su pseudónimo es Joker. El protagonista es el líder de los Ladrones Fantasma de Corazones , cuyo objetivo es cambiar la sociedad tocando los corazones de las personas y realizando atracos ilegales.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
