<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page3" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/kindpng_1565575.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>King Dedede</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/kindpng_1565575.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>King Dedede (japonés: デ デ デ 大王 だ い お う, Hepburn: Dedede Daiō) es un personaje ficticio de la serie de videojuegos Kirby de Nintendo creada por Masahiro Sakurai y desarrollada por HAL Laboratory. Dedede apareció por primera vez en el videojuego de 1992 Kirby's Dream Land como el principal antagonista, y ha regresado para todos los otros juegos de la serie, excepto Kirby & the Amazing Mirror (2004) y Kirby and the Rainbow Curse (2015). También ha aparecido en varios cómics de Kirby, la serie de anime de 2001 Kirby: Right Back at Ya !, y la serie de videojuegos Super Smash Bros. (específicamente Super Smash Bros. Brawl y todas las entregas posteriores).

       El Rey Dedede es el archienemigo y aliado de Kirby, descrito como su "archienemigo". Aunque Dedede a menudo lucha contra Kirby y cumple el papel de villano, los críticos de los videojuegos han debatido su carácter moral; está impulsado más por la avaricia y el egoísmo que por la malicia, trabaja voluntariamente con Kirby para luchar juntos contra mayores amenazas (como en Kirby 64: The Crystal Shards), y a veces puede verse tranquilo y relajado (como en minijuegos donde Dedede aparece como un personaje jugable). Además, en algunos de sus roles como el principal antagonista, está controlado contra su voluntad (como en Kirby's Dream Land 2 y 3) o se revela que tiene motivos inesperadamente heroicos, como romper el Star Rod para mantener a la gente de Dream Land protegido.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>


