<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page1" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Captain_falcon_SSB.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Captain Falcon</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Captain_falcon_SSB.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
        Captain Falcon (キャプテン・ファルコン Kyaputen Farukon) (nombre completo: Captain Douglas Jay Falcon, también conocido como Andy Summer en la serie anime F-Zero GP Legend (2003) y traducido como "Capitán Falcon" en Latinoamérica es el personaje principal de la serie de videojuegos F-Zero y uno de los personajes, generalmente desbloqueables, de la saga Super Smash Bros. Su primera aparición fue en el juego F-Zero para la consola SNES en 1990.

        Su vehículo de carreras es conocido como Blue Falcon y es el más equilibrado de la saga en términos de velocidad, aceleración, peso y driblaje. Cuando no participa en carreras, trabaja como cazarrecompensas como se puede ver en el comic incluido en el manual original de F-Zero de 1990.

        Se ha convertido en uno de los personajes más queridos y populares de videojuegos apareciendo en diferentes vídeos de YouTube y páginas de Internet incluyendo apariciones junto con otros personajes de Super Smash Bros.
      </ion-text>

    </ion-card-content>
  </ion-card>
</ion-content>
