<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page3" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Snake_Clear_SSBB.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Solid Snake</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Snake_Clear_SSBB.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Solid Snake (japonés: ソ リ ッ ド ・ ス ネ ー ク, Hepburn: Soriddo Sunēku) es un personaje de videojuego y uno de los principales protagonistas de la serie Metal Gear creada por Hideo Kojima y desarrollada y publicada por Konami. Se le representa como un ex Boina Verde y un soldado de operaciones especiales altamente capacitado que se dedica a misiones de espionaje y sigilo en solitario, a quien a menudo se le asigna la tarea de destruir modelos del mecha armado con armas nucleares bípedas conocido como Metal Gear. Controlado por el jugador, debe actuar solo, apoyado por radio por comandantes y especialistas. Si bien sus primeras apariciones en los juegos originales de Metal Gear fueron referencias a películas de Hollywood, la serie Metal Gear Solid ha dado un diseño consistente del artista Yoji Shinkawa junto con una personalidad establecida, al tiempo que explora su relación con su mentor Big Boss.

       Durante los juegos de Metal Gear Solid, el personaje fue interpretado por el actor de voz Akio Ōtsuka en la versión japonesa y por el actor y guionista David Hayter en la versión en inglés. Considerado como uno de los protagonistas más populares en la industria de los videojuegos, Snake ha sido aclamado por los críticos, con su personalidad y la actuación de la voz de Ōtsuka y Hayter como factores primarios del atractivo del personaje.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
