<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page5" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Canela-SSBU.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Isabelle (Canela)</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Canela-SSBU.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Canela (Isabelle en inglés y しずえ en Japonés) es una perrita que aparece en Animal Crossing: New Leaf. Cuando fue anunciada por primera vez, Canela no recibió un nombre, sino que pasó a llamarse ひしょ, que significa secretaria en japonés. Su nombre japonés se confirmó en junio de 2012, donde pasó a llamarse しずえ.
       Su nombre en español fue conocido el 14 de febrero de 2013 en el Nintendo Direct, ya que el juego había empezado a ser localizado al español. Ella trabaja como secretaria del primer jugador (el alcalde del pueblo). Además, es la hermana gemela de Candrés. Su cumpleaños es el 20 de diciembre de acuerdo a la Plaza Animal Crossing.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>