<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page1" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Fox_SSB.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Fox McCloud</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Fox_SSB.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
        Fox McCloud es un personaje de videojuego y el principal protagonista de la serie Star Fox de Nintendo. Es un zorro antropomórfico creado y diseñado por Shigeru Miyamoto y Takaya Imamura. En cada juego, el jugador controla a Fox en su Arwing, con algunas excepciones, como Star Fox Adventures y Star Fox: Assault, donde es controlado en el suelo. Él es el líder del equipo Star Fox, y se une a sus compañeros en varias misiones.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
