<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page2" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Peach_-_Super_Smash_Bros._Melee.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Princesa Peach</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Peach_-_Super_Smash_Bros._Melee.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br> La Princesa Peach (ピーチ姫 Pīchi-hime?) es un personaje ficticio en la franquicia de videojuegos de Super Mario de Nintendo y el personaje femenino más antiguo de los videojuegos. Originalmente creada por Shigeru Miyamoto, Peach es la princesa del ficticio Reino Champiñón, que está constantemente bajo ataque de Bowser. Frecuentemente interpreta a la damisela en apuros dentro de la serie, con excepción de Super Princess Peach, donde ella es la protagonista. También con la excepción de Super Mario Bros. 2, Super Mario RPG: Legend of the Seven Stars y Super Mario 3D World, en los que es una de los personajes principales controlables.

       A menudo es retratada como el interés amoroso de Mario y ha aparecido en casi todos los juegos de Super Mario hasta la fecha, además de ser ella el personaje femenino principal. También ha aparecido en las franquicias Mario Party, Mario Kart y Super Smash Bros, como personaje jugable.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>


