<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page3" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/3796.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Meta Knight</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/3796.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Meta Knight (メタナイト, Meda Naito) de Nintendo (Meta Caballero, en Hispanoamérica), de la serie Kirby, es un enemigo enigmático de videojuego, siempre lleva consigo un código de honor y usualmente le ofrece una espada a Kirby antes de combatir contra él. Él en realidad no es malvado. Meta Knight y Kirby no tienen nada en común, según se explica en la serie animada, pero resguardan los mismos dotes de donde vinieron (del espacio exterior). Él usa una poderosa espada que puede crear pequeños tornados, un capote azul que dobla como sistema de alas y una máscara de plata azulada. En algunos juegos su máscara se quita, revelando que él se parece a Kirby, salvo que su cuerpo es azul.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
