<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page3" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/PngItem_18978.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Toon Link</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/PngItem_18978.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Link (リンク Rinku) es el nombre de los distintos protagonistas de la serie de videojuegos The Legend of Zelda de Nintendo, creada por Shigeru Miyamoto en 1986, una de las franquicias más exitosas de la empresa (hasta 2007, ha vendido más de 47 millones de copias a nivel mundial).1​ La popularidad de Zelda ha dado lugar a varias encarnaciones de la trama original y, por ende, de Link; el personaje hizo su primera aparición en el título homónimo, como un héroe épico que lucha contra el mal. Además de los videojuegos de Nintendo, Link ha sido incorporado una variedad de productos, que van desde las historietas hasta una serie animada de televisión. En 2005, fue galardonado con una estrella en la atracción Walk of Game radicada en San Francisco, California, lugar en el que también figuran los reconocimientos de Mario y Sonic the Hedgehog.

       Toon Link es un personaje recurrente en la serie The Legend of Zelda, que aparece junto con un Link original. Su diseño se basa en la aparición más reciente de Link, comenzando con Four Swords y The Wind Waker con un sombreado de aerógrafo adicional en lugar de su sombreado de celdas normal.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>