<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page2" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Sheik_-_Super_Smash_Bros._Melee.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Sheik</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Sheik_-_Super_Smash_Bros._Melee.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Sheik (シーク, Shīku, Hylian SHylian HHylian EHylian IHylian K en Hylian) es un personaje de The Legend of Zelda: Ocarina of Time, aunque a pesar de que sólo ha aparecido una vez en la saga, es uno de los personajes más populares. En realidad se trata del álter ego de la Princesa Zelda, estando ésta disfrazada de uno de los miembros del clan de los Sheikah, una misteriosa raza de guerreros cuidadores de la Familia Real de Hyrule. Este extraño personaje suele aparecer en momentos cruciales del juego y es responsable de muchas acciones imprescindibles para que Link continúe su aventura.

       La apariencia física de Sheik y su uso frecuente de las Nueces Deku para desaparecer en momentos críticos rápidamente, es una característica típica de las habilidades de un ninja. Posiblemente por esto, Sheik se ha vuelto uno de los personajes más populares dentro de la saga de Zelda. El verdadero género de Sheik ha causado siempre mucha disputa entre los fans.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

