<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page4" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/main.webp"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Roy</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/main.webp" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Roy (ロイ Roi?) es un personaje ficticio de la serie de videojuegos Fire Emblem. Es el protagonista de Fire Emblem: Fūin no Tsurugi y hace un cameo en Fire Emblem: Rekka no Ken. Es el hijo de Eliwood, protagonista de Fire Emblem: Blazing Sword, el primer juego de Fire Emblem al ser comercializado fuera de Japón conocido por el nombre de "Fire Emblem" en el resto del mundo.

       Nunca mencionan la madre difunta de Roy durante el juego de Fuuin no Tsurugi (Fire Emblem: The Sword of Seals). Deliberadamente le dejan ambigua pues Eliwood tiene tres esposas potenciales dependiendo de con quien tenga apoyo, él no gana en Rekka no Ken.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>