<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page5" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Cloud_SSBU.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Cloud Strife</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Cloud_SSBU.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Cloud Strife (クラウド・ストライフ Kuraudo Sutoraifu) es un personaje ficticio y el protagonista principal del videojuego de rol de 1997 Final Fantasy VII de Square (ahora Square Enix) y varias de sus secuelas y spin-offs. En Final Fantasy VII, Cloud es un mercenario que afirma ser anteriormente SOLDADO, un grupo de supersoldados de élite empleados por Shinra Electric Power Company, una megacorporación responsable de drenar la vida del planeta. Luchando contra Shinra en el grupo de resistencia AVALANCHE, e impulsado por una pelea con el antagonista principal, Sefiroth, Cloud aprende a aceptar su pasado problemático y se adapta a su papel como líder.

       También ha participado como «invitado» en Kingdom Hearts y Super Smash Bros. Su voz en el doblaje japonés corre a cargo del actor Takahiro Sakurai.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
