<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page1" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Kirby_SSB.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Kirby</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Kirby_SSB.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
        Kirby (カービィ Kābī?) es un personaje ficticio y el protagonista de la serie de videojuegos Kirby, diseñado por Masahiro Sakurai en 1992 y desarrollado por Nintendo y HAL Laboratory. Desde su primera aparición en Kirby's Dream Land para Game Boy se ha convertido en uno de los personajes más populares de Nintendo, al punto de protagonizar más de 20 títulos —en su mayoría plataformas, aunque también de otros géneros— y ser uno de los protagonistas de la saga Super Smash Bros. Además ha sido incorporado a una variedad de productos que van desde un manga hasta una serie de dibujos animados.

        Kirby es descrito como una criatura esférica de color rosa que vive en el planeta Pop Star.​ Su principal habilidad es absorber objetos y enemigos para lanzarlos en forma de estrella,6​ o bien tragárselos y copiar sus habilidades. También es capaz de expandir su cuerpo con aire para sobrevolar el escenario.6​ Desde la primera entrega ha tenido un aspecto amistoso e inocente, y sus juegos han sido diseñados con el objetivo de que cualquier persona pudiera completarlos sin importar su experiencia previa.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
