<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page2" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Falco_-_Super_Smash_Bros._Melee.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Falco Lombardi</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Falco_-_Super_Smash_Bros._Melee.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br> Falco Lombardi (japonés: フ ァ ル コ ・ ラ ン バ ル デ ィ, Hepburn: Faruko Ranbarudi) es un ave antropomórfica de la serie de videojuegos Star Fox. Fue creado por Shigeru Miyamoto y diseñado por Takaya Imamura. Falco actúa como el wingman y amigo del titular Fox McCloud para la mayoría de la serie.

       Falco apareció por primera vez en el videojuego Star Fox de 1993. Desde entonces, ha aparecido en múltiples juegos de Star Fox. Una variedad de actores de voz han prestado su voz al personaje en lanzamientos en inglés, mientras que Hisao Egawa interpretó a Falco en la mayoría de los lanzamientos en japonés. Sin embargo, fue reemplazado por Kōsuke Takaguchi comenzando con Star Fox 64 3D. Hisao repitió brevemente su papel en Super Smash Bros. para Nintendo 3DS y Wii U. Además de los juegos de Star Fox, Falco ha protagonizado su propio manga, y también aparece como un personaje jugable en los juegos de Super Smash Bros. que comienzan con Super Smash Bros. Melee.
       
       Falco se basó en el diseñador modelo del juego original de Star Fox. La recepción del personaje ha sido mixta, con gran popularidad entre los fanáticos. Falco ha sido criticado principalmente por su apariencia y actitud contenciosa, pero elogiado por ser mucho menos molesto que otros personajes de la serie. La reacción a su aparición en la serie Super Smash Bros. se ha mezclado de manera similar, y algunos críticos se opusieron a que sus movimientos fueran clonados de Fox, y lo citaron como un ejemplo de bajo esfuerzo por parte de los desarrolladores. Sin embargo, Falco tiene algunas diferencias: por ejemplo, puede saltar más alto que Fox y usa un blaster que puede detener a los oponentes en su camino.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
