<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page5" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/main9.webp"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Bayonetta</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/main9.webp" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Bayonetta (ベヨネッタ Beyonetta) es un personaje ficticio en el videojuego Bayonetta. Creado por Hideki Kamiya para desarrollado por PlatinumGames y publicado por Sega y Nintendo respectivamente, diseñado por Mari Shimazaki, ella también ha aparecido en las promociones y otros medios relacionados con el título. Hellena Taylor es la voz principal de la protagonista en todas las regiones.1​ También aparece en Bayonetta: Bloody Fate, una película anime creada en 2013 que adapta la historia del videojuego original. Esta película fue el primer producto de Bayonetta en lengua japonesa, y fue la actriz de doblaje Atsuko Tanaka quien puso su voz a Bayonetta. En España fue interpretada por la actriz Eva Bau y para Latinoamérica, Patricia Hannidez puso su voz a la bruja.​ Asimismo, Bayonetta aparece como personaje invitado en el videojuego Anarchy Reigns (2013), también de SEGA, lanzado en PlayStation 3 y Xbox 360. También aparece en el videojuego The Wonderful 101.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>