<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page4" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/main8.webp"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Richter Belmont</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/main8.webp" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Richter Belmont es un descendiente directo de Juste Belmont y reconocido cazador de vampiros. Tiene un fuerte sentido de la justicia y una voluntad inquebrantable. Cada generación del Clan Belmont ha producido cazadores de vampiros más dedicados y más severos - sobresaliendo Richter por encima de todos los demás anteriores. Blandiendo el látigo sagrado legendario al igual que muchos de sus predecesores, este joven impetuoso empujó a Drácula hasta el limite de sus fuerzas.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
