<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page3" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/kisspng-super-smash-bros-brawl-super-smash-bros-melee-su-5b2e9e77de3892.7536015415297818799102.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Ice Climbers</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/kisspng-super-smash-bros-brawl-super-smash-bros-melee-su-5b2e9e77de3892.7536015415297818799102.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Los Ice Climbers, conocidos en Japón como Ice Climber (アイスクライマ Aisu Kuraima), son el par de protagonistas del juego Ice Climber, lanzado en la época del NES precendente a Super Mario Bros. Al jugar de un jugador, el jugador juega como Popo (ポポ), mientras que al jugar de dos jugadores, el segundo jugador asume el rol de Nana (ナナ). Los Ice Climbers hacen su primera aparición en la serie Super Smash Bros. como un conjunto de personajes jugable en Super Smash Bros. Melee.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>


