<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page4" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Lucina_SSB4.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Lucina</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Lucina_SSB4.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Lucina (japonés: ル キ ナ, Hepburn: Rukina) es un personaje ficticio y uno de los protagonistas del videojuego de rol de 2012 de Intelligent Systems Fire Emblem Awakening, parte de su serie de videojuegos Fire Emblem. Su popularidad más tarde la llevó a su inclusión en varios otros videojuegos, incluido el nombre en clave del título de 2015 de Intelligent System: STEAM, el juego de lucha cruzada de Nintendo Super Smash Bros. para Nintendo 3DS y Wii U, el Monster Hunter Frontier G de Capcom y el crossover RPG Project de Bandai Namco X Zone 2. Lucina volvería a aparecer también en futuros títulos de Fire Emblem, incluidos Fire Emblem Fates, Fire Emblem Heroes y Fire Emblem Warriors, aunque en un papel secundario más que como protagonista con los últimos títulos.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>