<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page4" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/main 1.webp"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Mewtwo</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/main 1.webp" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Mewtwo (ミュウツー Myūtsū?) es una criatura ficticia de la franquicia Pokémon. Se trata de un Pokémon Legendario tipo psíquico, que aparece por primera vez en Pokémon Red y Blue, donde además es capturable por el jugador. Es el Pokémon número ciento cincuenta del Pokédex nacional. Fue creado genéticamente a partir del ADN de Mew, del cual también deriva su nombre. A partir de la sexta generación, es capaz de megaevolucionar.

       Mewtwo también ha aparecido en varias adaptaciones animadas de la franquicia. Masachika Ichimura interpretó el personaje original de Mewtwo de la franquicia en japonés, y Fujiko Takimoto en el Sound Picture Box: El drama de CD de Origin de Mewtwo y Showtaro Morikubo en la adaptación al anime. En inglés, Jay Goede interpretó a Mewtwo en Mewtwo Strikes Back (se le atribuye el seudónimo "Philip Bartlett") y Pokémon Live! musical, mientras que Dan Green proporcionó la voz en Mewtwo Returns.

      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>