<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page4" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/Warioland_Wario_-_Super_Smash_Bros._for_Nintendo_3DS_and_Wii_U.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Wario</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/Warioland_Wario_-_Super_Smash_Bros._for_Nintendo_3DS_and_Wii_U.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br>Wario (ワリオ) es un personaje ficticio de los videojuegos de Nintendo que originalmente fue diseñado como archirrival de Mario. Apareció por primera vez en Super Mario Land 2: 6 Golden Coins (1992), como el principal antagonista y jefe final. Su nombre es una mezcla del nombre de Mario y la palabra japonesa warui (悪 い), que significa "malo". Wario fue diseñado por Hiroji Kiyotake, y es interpretado por Charles Martinet, quien da voz a muchos otros personajes de Nintendo.

       Wario se ha convertido en el protagonista y antihéroe de las series de videojuegos Wario Land y WarioWare, abarcando los mercados de consolas de mesa y portátiles. Además de las apariciones en spin-offs de la franquicia de Mario, aparece en cameos para Kirby Super Star Ultra, Densetsu no Stafy 3 y Pilotwings 64. También ha aparecido en otros medios, como la novela gráfica de Super Mario Adventures. El personaje ha tenido una recepción crítica en gran medida positiva y se ha convertido en una mascota bien establecida para Nintendo.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>