<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/page2" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/pngocean.com.png"></ion-img>  
      </ion-avatar>
      <ion-label><strong>Marth</strong></ion-label>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <img src= "assets/pngocean.com.png" class="info-img">
      <ion-text class="ion-text-justify" style="color: white">
       <br> Marth (マルス, Marusu en Japonés) es el personaje ficticio secundario de la saga de videojuegos Fire Emblem.1​ Fue el protagonista del primer juego de la franquicia, Fire Emblem: Ankoku Ryū to Hikari no Tsurugi, así como del tercero, Fire Emblem: Monshō no Nazo y en la versión para la Nintendo DS Fire Emblem: Shadow Dragon y Fire Emblem: Shin Monshō no Nazo: Hikari to Kage no Eiyū.

       Aunque los títulos de Marth en Fire Emblem fueron comercializados sólo en Japón en los años 1990, ha adquirido más amplia atención a través de sus recurrentes apariciones en los juegos de Super Smash Bros, siendo un personaje seleccionable con un alto posicionamiento en las listas de jugadores. La aparición de Marth y Roy en Super Smash Bros. Melee en 2001 y posteriormente Ike en Super Smash Bros. Brawl provocó un mayor nivel de interés en todo el mundo, siendo conocidos no sólo en Japón. Fue por una parte que Nintendo decidió poner los juegos de Fire Emblem a la venta internacionalmente, empezando con lanzar la séptima entrega de la saga.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

